<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [class.active]="aba == 'home'">
        <a class="nav-link" (click)="aba = 'home'" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [class.active]="aba == 'link'">
        <a class="nav-link" (click)="aba = 'link'" href="#">Link</a>
      </li>
      <li class="nav-item" [class.active]="aba == 'test'">
        <a class="nav-link" (click)="aba = 'test'" href="#">test</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <div [ngSwitch]="aba">
    <p *ngSwitchCase="'link'">menu link ativado</p>
    <p *ngSwitchCase="'test'">menu test ativado</p>
    <p *ngSwitchDefault>menu home ativado</p>
  </div>
</div>